.my-header-image{
width: 100%;
}

.topbar {
color: blue;
background: yellow;
}

#about{
background: green;
}

li {
font-size: 16px;
font-family: futura;
}

.title{
font-size: 29px;
font-family: Comic Sans MS;
}